*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444444;

}

.header .logo img{
    width: 80px;
}

.navlinks{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.navlinks a{
    text-decoration: none;
    color: white
}

#HOME {
    color: #FCE207;
}
 
button{
    width: 158px;
    height: 38px;
    color: white;
    background-color: #FCE207;
    border-radius: 4px;
}

.poster {
    border-radius: 6px;
    background-image: url("image/image\ copy.png");
    width: 100%;
    height: 454px;
    position: relative;
}

.poster button{
    width: 306px;
    height: 72px;
    color: white;
    background-color: #FCE207;
    position: absolute;
    bottom: 30px;
    left: 50px;
    border-radius: 6px;
}

.content1{
    height: 100%;
    padding: 30px;
    display: grid;
    justify-content: space-around;
}


.content1 .child1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content1 .child2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.content1 .child2 .cards{
    width: 350px;
    padding: 30px;
    background-color: white;
    border: 1px burlywood solid;
    align-items: center;
    border-radius: 2px;
}

.content1 .child1 a{
    text-decoration: none;
    width: 68px;
    height: 26px;
    color:#FCE207;
}

